#main{
  padding: 1em;
  margin: auto;
  margin-top: 0.5em;
  color:black;
  box-shadow: 0px 0.5px 10px 3px rgb(200,200,200);
}

@media only screen and (min-device-width:450px){
  #main{
    display: flex;
    width:80%;
  }
  #about{
    order:1;
    padding-left: 1.5em;
    text-align: left;
    font-size: 1.3vw;
    float: left;
  }
  #detail{
    order:2;
    order:1;
    text-align: left;
    color:black;
    font-size: 1.3vw;
    border-spacing: 3em 0em;
  }
  #first{
    width: 60%;
    float: left;
  }
  #detail td{
    padding: 10px;
  }

}
@media only screen and (max-device-width:450px){
  #about{
    width: 50%;
    text-align: left;
    float: left;
    font-size: 2.7vw;
  }
  #detail{
    text-align: left;
    font-size: 2.7vw;
  }
  #detail td{
    padding: 10px;
  }
}
