body{
  font-size: 0.70em;
  font-family: 'Montserrat', sans-serif;
  color: #2C2C2C;
  background-color: #FFFFFF;
  background-size: 200% auto;
}
a{
  text-decoration: none;
    color: #FFFFFF ;
    font-family: 'Montserrat', sans-serif;
}
#cross:hover{
  color:red;
}
#cross2:hover{
  color:red;
}
